.navbar {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 0.5px solid #aaaaaa; */
  padding: 0.5rem;
  position: fixed;
  top: 0%;
  background-color: #ffffff;
  width: 100%;
  z-index: 1;

  /* position: fixed;
  top: 0;
  width: 100%; */
}

.navbar .nav-left,
.navbar .nav-mid,
.navbar .nav-right {
  display: flex;
  align-items: center;
}

.navbar .nav-left img {
  height: fit-content;
  width: 100px;
}

.navbar .nav-mid {
  padding-left: 5rem;
}

.navbar .nav-mid input {
  width: 40vw;
  max-width: 425px;
  border: 1px solid #aaaaaa;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0.5rem;
}

.navbar .nav-mid button {
  height: calc(100% - 4px);
  border: 1px solid #aaaaaa;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 0;
  padding: 0 1.5rem;
}

.navbar .nav-right .sign-in {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #065fd4;
  border-radius: 2px;
  font-size: 0.8rem;
  color: #065fd4;
  font-weight: 600;
  padding: 0.5rem 0.75rem 0.4rem;
  margin-right: 2rem;
  font-family: "Roboto", sans-serif;
}

.navbar .nav-right .sign-in i {
  font-size: 1.15rem;
  padding-right: 0.5rem;
}

.navbar .nav-icon {
  color: #000000;
  font-size: 1.15rem;
  padding: 0 1rem;
}

.navbar .nav-icon .bi-list {
  font-size: 1.35rem;
}

.content {
  display: flex;
}

.content .sidebar {
  width: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -1px;
  position: fixed;
  top: 7%;
  background-color: #ffffff;
  height: 100%;
  /* position: fixed;
  top: 0; */
}

.content .sidebar a {
  color: #000000;
  background-color: #ffffff;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  padding: 0.95rem 0;
  padding-right: 1rem;
}

.content .sidebar .yt-icon {
  margin-left: 0.75rem;
  pointer-events: none;
  width: 30px;
  height: 30px;
  display: block;
}

.content .sidebar a:hover {
  background-color: #eeeeee;
}

.content .sidebar img {
  display: block;
  width: 35%;
  margin: 0 auto 0.4rem;
}

.content .sidebar i {
  display: block;
  font-size: 1.35rem;
  margin-bottom: 0.3rem;
}

.content .content-body {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
}

a {
  text-decoration: none;
}

main img {
  max-width: 100%;
  height: auto;
}

#header {
  display: grid;
  border-top-width: 20px;
  background-color: #f9f9f9;
  /* min-height: 200em; */
}

.channel-header {
  display: flex;
  width: 100%;
}

.channel-header img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-left: 10em;
  margin-top: 2em;
}

.channel-header p {
  text-transform: capitalize;
  margin-top: 2em;
  margin-left: 1em;
  font-size: 25px;

  font-family: Arial, Helvetica, sans-serif;
}

.channel-header span {
  display: block;
  font-size: 15px;
  color: #0000004d;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

#verified {
  width: 13px;
  height: 13px;
  margin-top: 3.7em;
  margin-left: 10px;
  opacity: 60%;
}

.btn {
  background-color: #cc0000;
  font-family: "Roboto", sans-serif;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 50rem;
  margin-top: 3.5rem;
  cursor: pointer;
  text-transform: uppercase;
  height: fit-content;
}

.menu {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;

  margin-left: 8em;
  color: #909090;
  font-family: "Roboto", sans-serif;
}

.menu .search {
  background-color: #f9f9f9;
}

.menu a {
  color: #909090;
  margin: 0 25px 0;
}

.menu a:hover {
  color: #212121;
}

.search {
  border: none;
  border-bottom: 1px solid black;
}

.bi {
  font-size: 20px;
  cursor: pointer;
  text-align: left;
}
