.navbar {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 0.5px solid #aaaaaa; */
  padding: 0.5rem;
  position: fixed;
  top: 0%;
  background-color: #ffffff;
  width: 100%;
  z-index: 1;

  /* position: fixed;
  top: 0;
  width: 100%; */
}

.navbar .nav-left,
.navbar .nav-mid,
.navbar .nav-right {
  display: flex;
  align-items: center;
}

.navbar .nav-left img {
  height: fit-content;
  width: 100px;
}

.navbar .nav-mid {
  padding-left: 5rem;
}

.navbar .nav-mid input {
  width: 40vw;
  max-width: 425px;
  border: 1px solid #aaaaaa;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0.5rem;
}

.navbar .nav-mid button {
  height: calc(100% - 4px);
  border: 1px solid #aaaaaa;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 0;
  padding: 0 1.5rem;
}

.navbar .nav-right .sign-in {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #065fd4;
  border-radius: 2px;
  font-size: 0.8rem;
  color: #065fd4;
  font-weight: 600;
  padding: 0.5rem 0.75rem 0.4rem;
  margin-right: 2rem;
  font-family: "Roboto", sans-serif;
}

.navbar .nav-right .sign-in i {
  font-size: 1.15rem;
  padding-right: 0.5rem;
}

.navbar .nav-icon {
  color: #000000;
  font-size: 1.15rem;
  padding: 0 1rem;
}

.navbar .nav-icon .bi-list {
  font-size: 1.35rem;
}

.content {
  display: flex;
}

.content .sidebar {
  width: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -1px;
  position: fixed;
  top: 7%;
  background-color: #ffffff;
  height: 100%;
  /* position: fixed;
  top: 0; */
}

.content .sidebar a {
  color: #000000;
  background-color: #ffffff;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  padding: 0.95rem 0;
  padding-right: 1rem;
}

.content .sidebar .yt-icon {
  margin-left: 0.75rem;
  pointer-events: none;
  width: 30px;
  height: 30px;
  display: block;
}

.content .sidebar a:hover {
  background-color: #eeeeee;
}

.content .sidebar img {
  display: block;
  width: 35%;
  margin: 0 auto 0.4rem;
}

.content .sidebar i {
  display: block;
  font-size: 1.35rem;
  margin-bottom: 0.3rem;
}

.content .content-body {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
}

a {
  text-decoration: none;
}

main img {
  max-width: 100%;
  height: auto;
}

#header {
  display: grid;
  border-top-width: 20px;
  background-color: #f9f9f9;
  /* min-height: 200em; */
}

.channel-header {
  display: flex;
  width: 100%;
}

.channel-header img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-left: 10em;
  margin-top: 2em;
}

.channel-header p {
  text-transform: capitalize;
  margin-top: 2em;
  margin-left: 1em;
  font-size: 25px;

  font-family: Arial, Helvetica, sans-serif;
}

.channel-header span {
  display: block;
  font-size: 15px;
  color: #0000004d;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

#verified {
  width: 13px;
  height: 13px;
  margin-top: 3.7em;
  margin-left: 10px;
  opacity: 60%;
}

.btn {
  background-color: #cc0000;
  font-family: "Roboto", sans-serif;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: 5em;
  margin-top: 3.5rem;
  cursor: pointer;
  text-transform: uppercase;
  height: fit-content;
}

.menu {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;

  margin-left: 8em;
  color: #909090;
  font-family: "Roboto", sans-serif;
}

.menu .search {
  background-color: #f9f9f9;
}

.menu a {
  color: #909090;
  margin: 0 25px 0;
  /* border: 2px solid; */
}

.menu a:hover {
  color: #212121;
}

.search {
  border: none;
  border-bottom: 1px solid black;
  padding-left: 1em;
}

.menu .yt-icon {
  pointer-events: none;
  display: block;
  width: 25px;
  height: 25px;
  opacity: 0.8;
}

#community {
  background-color: #0000000d;
  padding-top: 3em;
  padding-bottom: 10em;
}

.card {
  border: 2px solid #0000000d;
  display: flex;
  margin: 1em 0 2em 8em;

  padding-bottom: 2em;
  position: relative;
  width: 57em;
  height: fit-content;
}

.card .profil img {
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  margin-top: 1em;
  width: 45px;
}

.kalimat p {
  text-transform: capitalize;
  font-size: 16px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5em;
}

.kalimat span {
  display: inline;
  font-size: 11.7px;
  color: #0000004d;
  position: relative;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

.kalimat .kata {
  display: block;
  font-size: 15px;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

.thumbnail {
  background-color: white;
  width: 50.5em;
  height: 8em;
  margin: 0 5em;
}

.thumbnail img {
  width: 200px;
  height: auto;
  margin: 0.5em;
}

.thumbnail .vidlength {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0 5px;
  position: absolute;
  align-items: center;
  width: fit-content;
  height: 17px;
  bottom: 2.5rem;
  right: 39.5rem;
}

.thumbnail a h4 {
  color: #212121;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  bottom: 9rem;
  left: 14rem;
  font-family: Arial, Helvetica, sans-serif;
}

.thumbnail a span {
  display: flex;
  text-transform: capitalize;
  color: #0000004d;
  margin-left: 0.5rem;
  font-size: 13px;
  font-family: arial;
  position: relative;
  bottom: 10rem;
  left: 13.6rem;
  font-weight: lighter;
}

.thumbnail #verified {
  position: relative;
  bottom: 3.5em;
  width: 12px;
  height: 12px;
}

.thumbnail a p {
  font-size: 13px;
  margin-left: 15.5rem;
  display: flex;
  width: 48em;
  position: relative;
  bottom: 17em;
  right: 2em;
  color: #0000004d;
  font-family: "Roboto", sans-serif;
}

.tombol {
  display: flex;
  /* justify-content: space-between; */
}

.tombol a {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: #000000;
  right: 0.5rem;
  bottom: 11.5rem;
  font-size: 0.75rem;
  padding: 0 0.2rem;
}

.tombol img {
  width: 15px;
  height: 15px;
  padding-right: 0.45rem;
}
